<div class="register card ">
    <form [formGroup]="registerForm" (ngSubmit)=onSubmit()> 
        <h1 class="text-center">Login</h1>
        <div class="mb-3">
            <input 
            type="text" 
            class="form-control" 
            formControlName="name"
            placeholder="Name"
            >
          </div>
          <div class="mb-3">
            <input 
            type="email" 
            class="form-control" 
            formControlName="email"
            placeholder="Email"
            >
          </div>
        <div class="mb-3">
          <input 
          type="text" 
          class="form-control" 
          formControlName="username"
          placeholder="Username"
          >
        </div>
        <div class="mb-3">
          <input 
          type="password" 
          class="form-control"
          formControlName="password"
          placeholder="Password"
          >
        </div>
        <button [disabled]="!registerForm.valid" type="submit " class="btn btn-primary container-fluid">Login</button>
      </form>
      <div class="m-3 text-center">
        <a class="" routerLink="/login">I have already an account? SignIn </a>
    </div>
</div>  