<div class="container overflow-hidden">
    <div class="row gy-5">
      <div class="col-6">
        <div class="p-3 box border bg-warning">
            <h1 style="color: white;">Products</h1>
            <h1>10,235</h1>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 box border bg-info">
            <h1 style="color: white;">Users</h1>
            <h1>10,235</h1>

        </div>
      </div>
      <div class="col-6">
        <div class="p-3 box border bg-success">
            <h1 style="color:white;">Orders</h1>
            <h1>15,487</h1>

        </div>
      </div>
      <div class="col-6">
        <div class="p-3 box border bg-danger">
            <h1 style="color:white;">Payment</h1>
            <h1>{{payment | currency:'INR'}}</h1>
        </div>
      </div>
    </div>
  </div>