    <ul class="nav flex-column sidebar">
        <li class="nav-item"  >
          <a class="nav-link" routerActiveLink="active" routerLink="/admin"  ><mat-icon>home</mat-icon></a>
        </li>
        <li class="nav-item"  >
            <a class="nav-link" routerActiveLink="active" routerLink="/admin/product-list"  ><mat-icon>list</mat-icon></a>
          </li>
        <li class="nav-item" >
            <a class="nav-link " routerActiveLink="active" routerLink="/admin/add"  ><mat-icon>add_circle</mat-icon></a>
          </li>
        <li class="nav-item" > 
            <a class="nav-link" routerActiveLink="active" routerLink="/admin/login" ><mat-icon>account_circle</mat-icon></a>
          </li>
      
      </ul>
