<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/admin">Admin Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 cart-wishlist">
      <li class="nav-item" routerActiveLink="active">
        <a class="nav-link"  routerLink="/admin/login"><mat-icon>account_circle</mat-icon><span></span></a>
      </li>
    </ul>
  </nav>