<div class="container">
    <h3>Add Product</h3>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="mb-1">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" formControlName="title" class="form-control" />
    </div>

    <div class="mb-1">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <input type="text" formControlName="description" min="1" class="form-control" />
    </div>

    <div class="mb-1">
      <label for="exampleInputPassword1" class="form-label">price</label>
      <input type="number" formControlName="price" class="form-control" />
    </div>

    <div class="mb-1">
        <label for="exampleInputPassword1" class="form-label">Category</label>
        <input type="text" formControlName="category" class="form-control" />
      </div>

      <div class="mb-1">
        <label for="exampleInputPassword1" class="form-label">Image URL</label>
        <input type="text" formControlName="thumbnail" class="form-control" />
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
