<div class="container mt-3">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4 text-center mb-2">
          <img style="height: 100px;width: 100%;margin:3px;" [src]="cart.thumbnail" class="img-fluid rounded-start" alt="{{cart.title}}"><br>
          <p><strong>Price: </strong><strong class="text-success">{{cart.price | currency:'INR'}}</strong></p>
          <button class="btn btn-danger">Buy</button>
          <button class="btn btn-warning ms-3" (click)="onWishlist()">WishList</button>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title">{{cart.title}}</h2>
            <p class="d-inline-block text-truncate" style="max-width: 250px;">{{cart.description}}</p>
            <p class="card-text"><small class="text-muted">{{cart.category}}</small></p>
            <div class="d-flex">
              <button (click)="onDeleteCart(cart.id)" class="btn" style="display: flex;align-self: end;"><mat-icon>delete</mat-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>